<div class="container">
  <h1 class="text-center"><%= @movie.title %><h1>
</div>

<ul class="container">
  <img src=<%= @movie.image %> alt="Book Jacket" id="showpageImages">
  <p><b>Genre: </b><%= @movie.genre %></p>
  <p><b>Premier: </b><%= @movie.premier %></p>
  <p><b>Summary: </b><%= @movie.summary %></p>
</ul>