 <div class="container">

  <div class="text-center">
    <h1>Geek Ground</h1>
  </div>

  <div class="container">
    <% if current_user %> 
      <%= link_to "Add Book/Comic", new_book_search_path, class: "btn btn-primary pull-right" %>
      <%= link_to "Add Movie", new_movie_search_path, class: "btn btn-primary pull-right" %>
      <%= link_to "Add TV Show", new_tv_search_path, class: "btn btn-primary pull-right" %>
    <% end %>
  </div>

  <div class="row">

    <div class="col-md-6">

      <div>
        <h3>Discussion Stream</h3>
      </div>

    </div>

    <div class="col-md-6">

      <div>
        <h3><%= link_to "Books", books_path %></h3>
        <% @books.each do |book| %>
          <p><%= book.title %></p>
          <% if current_user%>
            <%= link_to "Follow",  ,class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div>
        <h3><%= link_to "TV Shows", shows_path %></h3>
        <% @shows.each do |show| %>
          <p><%= show.title %></p>
        <% end %>
      </div>
      <div>
        <h3><%= link_to "Movies", movies_path %></h3>
        <% @movies.each do |movie| %>
          <p><%= movie.title %></p>
        <% end %>
      </div>

    </div>

  </div>

</div>