<ul class="list-group" id="books-list">
  <% @books.each do |book| %>
    <li class="col-md-6">
      <div class="book">
        <%= link_to book do %>
          <img alt="Book Jacket" class="homepageImages" src=<%= book.image %> >
        <% end %>
        <h3><%= link_to book.title, book_path(book.id) %></h3>
        <p><%= book.author %></p>
        <p><b><%= book.genre %></b></p>
      </div>
    </li>
  <% end %>
</ul> 