<div class="container">
  <h1 class="text-center"><%= @show.title %><h1>
</div>

<ul class="container">
  <img src=<%= @show.image %> alt="Book Jacket" id="showpageImages">
  <p><b>Genre: </b><%= @show.genre %></p>
  <p><b>Premier: </b><%= @show.premier %></p>
  <p><b>Summary: </b><%= @show.summary %></p>
</ul>